*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --outline: 1px dotted red;
}
.header{
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: url(https://barrique.pqcloud.se/storage/products-images/26571/40980899_400-horizontal.jpg);
}

.header h1{
    width:100%;
    height:100%; /* width and height */
    
    background: linear-gradient(to left, transparent, whitesmoke 100%);
    /* background for inner box (that is in the foreground) */
    
    display:flex;/* make stuff in th right position */
    justify-content:center;
    align-items:center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Font stuff */
    font-size:4rem;
    text-indent:3rem;
    color:#242661;
    text-shadow:1px 4px 1px #ddd4cb; 
}

.box{
    background-color: #242661;
    height: 40px;
    display:flex;
    align-items: center;
    
}

h4{
    color:whitesmoke;
    display: flex;
    justify-content: center;
    margin: 5%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.line{
    background-color: #dd6b60;
    display: flex;
    height: 5px;
}


.seperate{
    background-color: #dd6b60;
    display: flex;
    height: 5px;
    
}

.text-container {
    display: flex;
    justify-content: space-between; /* Låter texten fördelas jämt */
    padding: 20px;
    background: whitesmoke
}

.text1 {
    width: 40%; /* Varje text tar upp 40% av containerbredden */
    font-family: Arial ;
    font-size: 1.2rem;
    color: #333;
}
.text2, .text3 {
    width: 20%;
    font-family: Arial;
    font-size: 1.2rem;
    color: #333;
    
}

.text3{ 
    display: grid;
}
.text3 img{
    width: 250px;
    margin: 5px;
    --padding: 20px;
    
}
.text1 {
    background-color: #d26055;
    padding: 10px;
    margin: 1px;
}

.text2 {
    background-color: #d26055;
    padding: 10px;
    
}
.separator {
    width: 20px; /* Bredd på linjen */
    background-color: #232560; /* Färg på linjen */
    height: text1; /* Höjd på linjen, */
    
}